<section>
  <div class="container">
    <ul class="tasks-list" id="task-list">
      <li class="task-list-item">
        <button class="task-list-item-btn">Delete</button>
        <h3>Заголовок</h3>
        <p>Текст</p>
      </li>
      <li class="task-list-item">
        <button class="task-list-item-btn">Delete</button>
        <h3>Заголовок</h3>
        <p>Текст</p>
      </li>
      <li class="task-list-item">
        <button class="task-list-item-btn">Delete</button>
        <h3>Заголовок</h3>
        <p>Текст</p>
      </li>
      <li class="task-list-item">
        <button class="task-list-item-btn">Delete</button>
        <h3>Заголовок</h3>
        <p>Текст</p>
      </li>
      <li class="task-list-item">
        <button class="task-list-item-btn">Delete</button>
        <h3>Заголовок</h3>
        <p>Текст</p>
      </li>
      <li class="task-list-item">
        <button class="task-list-item-btn">Delete</button>
        <h3>Заголовок</h3>
        <p>Текст</p>
      </li>
    </ul>
  </div>
</section>
